<%- include('../partials/headerShop') %>

<!----------------->
<!-- Inicio Main -->
<!----------------->

<main class="container">
    <section class="py-5">
        <h3 class="carrito_title text-uppercase pt-4 fw-bold mb-5 w-50">Carrito de compras</h3>
        <div class="card shadow p-3 mb-5 border-0 rounded-4 mt-4">
           <div class="card-body mt-4">
             <div class="row">
               <div class="col-lg-5 col-12 text-center">
                 <div class="carrito_detalle fw-bold">DETALLE DE PRODUCTO</div>
               </div>
               <div class="col-lg-3 col-12 text-center">
                 <div class="carrito_detalle fw-bold">CANTIDAD</div>
               </div>
               <div class="col-lg-3 col-12 text-center">
                 <div class="carrito_detalle fw-bold">TOTAL</div>
               </div>
               <div class="col-lg-1 col-12">
     
               </div>
             </div>
           </div>
         </div>
       </section>  

       <% let totalItems = 0 %>
       <% let totalPrice = 0 %>

       <% cartItems.forEach((item, i) => { %>
        
       <section>
         <div class="card shadow p-3 mb-5 border-0 rounded-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-5 col-12">
                 <div class="row">
                   <div class="carrito_detalle fw-bold col-6">
                     <img class="carrito_detalle-previewImage" src="/img<%= products.find(product=> product.product_id == item.product_id).image_front %>"></img>
                   </div>
                   <div class="carrito_detalle fw-bold col-6 flex">
                     <h4 class="carrito_detalle-title">
                       <%= products.find(product=> product.product_id == item.product_id).product_name %></h4>
                     <p class="carrito_detalle-license"><%= products.find(product=> product.product_id == item.product_id).licence_name %></p>
                     <p class="carrito_detalle-unitPrice">Precio Unitario: <%= products.find(product=> product.product_id == item.product_id).price %></p>
                     
     
                     </p>
                   </div>
     
                 </div>
                  
                </div>
                <div class="col-lg-3 col-12 d-flex">
                
                     <input id="quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>" class="form-control"type="number" value="<%= item.quantity %>"/>
                   <div class="ms-2">
                     <a id="agregar<%= products.find(product=> product.product_id == item.product_id).product_id %>" class="btn btn-primary rounded-0 w-100 mb-1">+</a>
                     <a id="quitar<%= products.find(product=> product.product_id == item.product_id).product_id %>" class="btn btn-primary rounded-0 w-100">-</a>
                </div> 
                </div>            
               <div class="col-lg-3 col-12 text-center">
                 <div class="carrito_detalle fw-bold">$<%= (products.find(product=> product.product_id == item.product_id).price)*item.quantity %> </div>
               </div>
               <div class="col-lg-1 col-12">
                 <div class="carrito_detalle fw-bold">x</div>
               </div>
               </div>
            </div>
          </div>
        </section>  
        
        <% }); %>
        <!-- <section>
         <div class="card shadow p-3 mb-5 border-0 rounded-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-5 col-12">
                  <div class="carrito_detalle fw-bold">DETALLE DE PRODUCTO</div>
                </div>
                <div class="col-lg-3 col-12 d-flex">
                
                     <input class="form-control"type="number" />
                   <div class="ms-2">
                     <button class="btn btn-primary rounded-0 w-100 mb-1">+</button>
                     <button class="btn btn-primary rounded-0 w-100">-</button>
                </div> 
                </div>            
               <div class="col-lg-3 col-12 text-center">
                 <div class="carrito_detalle fw-bold">Total</div>
               </div>
               <div class="col-lg-1 col-12">
                 <div class="carrito_detalle fw-bold">x</div>
               </div>
               </div>
            </div>
          </div>
        </section>  -->
        <section>
         <div class="row">
           <div class="col-12 col-lg-6 offset-lg-6">
             <h4 class="text-uppercase carrito_title w-50">Resumen</h4>
             <div class="row">
               <div class="col-12 py-2">
                 <div class="card">
                   <div class="card-body">
                     <div class="row">
                       <div class="col-12 col-lg-8 d-flex">
                         <p class="card-item__price fw-bold">CANTIDAD DE ELEMENTOS </p>
                       </div>
                       <div class="col-12 col-lg-4">
                         <p class="card-item__price fw-bold"><%= totalItems %></p>
                     
                       </div>  
                     </div>
                     <div class="row">
                       <div class="col-12 col-lg-8 d-flex">
                         <p class="card-item__price fw-bold">
                           SUBTOTAL
                         </p>
                       </div>
                       <div class="col-12 col-lg-4">
                         <p class="card-item__price fw-bold">
                           <%= totalPrice %>
                         </p>
                       </div>  
                     </div>
                     <div class="row">
                       <div class="col-12 col-lg-8 d-flex">
                         <p class="card-item__price fw-bold">ENVIO</p>
                       </div>
                       <div class="col-12 col-lg-4">
                         <p class="card-item__price">0</p>
                       </div>  
                     </div>
                     <hr class="py-1">
                     <div class="row">
                       <div class="col-12 col-lg-8 d-flex">
                         <p class="card-item__price fw-bold">TOTAL</p>
                       </div>
                       <div class="col-12 col-lg-4">
                         <p class="card-item__price fw-bold"><%= totalPrice %></p>
                       </div>  
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row py-1 mb-5">
               <div class="col-12 d-inline-grid mb-5">
                <button class="btn btn-primary text-uppercase border-0 py-3 button_carrito mb-5">Ir a pagar</button>
               </div>
             </div>
           </div>
          
         </div>  
        </section>



</main>

<!-------------->
<!-- Fin Main -->
<!-------------->

<script>
<% cartItems.forEach((item, i) => { %>


<!-- <script src="../../../public/js/item.js"></script> -->
  const agregar<%= products.find(product=> product.product_id == item.product_id).product_id %> = document.getElementById('agregar<%= products.find(product=> product.product_id == item.product_id).product_id %>');
  const quitar<%= products.find(product=> product.product_id == item.product_id).product_id %> = document.getElementById('quitar<%= products.find(product=> product.product_id == item.product_id).product_id %>');
  const quantity<%= products.find(product=> product.product_id == item.product_id).product_id %> = document.getElementById('quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>');
  //console.log(agregar, quitar,quantity);
  
  agregar<%= products.find(product=> product.product_id == item.product_id).product_id %>.addEventListener('click', ()=> {
      if (quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>.value < <%= products.find(product=> product.product_id == item.product_id).stock %>) { //para usar tipo de dato tinyint en la base de datos, el 255 es porque hasta el 254 se le puede agregar uno, en 255 daría 256
          quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>.value = Number(quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>.value) + 1;
          //console.log(quantity);
      }
  });
  
  quitar<%= products.find(product=> product.product_id == item.product_id).product_id %>.addEventListener('click', ()=> {
      if(quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>.value > 1 ){ //porque no se puede pedir una cantidad negativa
          quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>.value = Number(quantity<%= products.find(product=> product.product_id == item.product_id).product_id %>.value) -1;
      }
  })
  <% }); %>
</script>
  
<%- include('../partials/footer') %>