<%- include('../partials/headerShop') %>

<!----------------->
<!-- Inicio Main -->
<!----------------->

<main>
  <% if (!item) { %>
    <section class="">
      <h1> El producto no existe o fue eliminado </h1>

    </section>

  <% } else { %>
    <div class="container mt-5">
      <section class="row align-items-center mobile-collection">
        <picture class="col-12 col-sm-6 d-block d-sm-none">
          <img src="../../img<%= item.image_front %>" alt="<%= item.product_description %>" />
        </picture>
        <article class="col-12 col-sm-6 mobile-collection order-1">
          <p class="card-title card-item__licence_item"><%= item.licence_name %></p>
          <h1 class="collection__title_item mb-3"><%= item.product_name %></h1>
          <p class="collection__text_item_item mb-3"><%= item.product_description %></p>
          <p class="collection_item_item_price"><%= item.price %></p>
          <p class="collection_item_item_price">Stock disponible: <%= item.stock %></p>
          <form action="/shop/item/<%= item.product_id %>/add" method="POST">
          <div class="row">
                  <div class="col-12 col-lg-4 d-flex">
                    <input class="form-control" type="text" name="quantity" id="quantity" placeholder="1" />
                  </div>
                  <div class="col-12 col-lg-1 d-flex flex-wrap justify-content-center">
                    <a class="btn btn-secondary rounded-0 w-100 mb-1" id="agregar">+</a>
                    <a class="btn btn-secondary rounded-0 w-100" id="quitar">-</a>
                  </div>
                  <div class="col-12 col-lg-7">
                    <button class="btn btn-primary rounded-0 py-3 collection_item_item__button" type="submit">Agregar al carrito</button>
                  </div>
                </div>
              </form>
                <a class="collection_item_item_promo">Ver métodos de pago - 3 CUOTAS SIN INTERÉS</a>
                
                
                <!---<a class="collection__link mb-3 d-inline-block"href="pages/item.html">VER COLECCIÓN</a> -->
                <!-- </article>
                  <picture class="col-12 col-sm-6 d-none d-sm-block order-0">
                    <img src="../../img/star-wars/baby-yoda-1.webp" alt="Figura de Baby Yoda" />
                  </picture> -->
        </section>
      <% } %>
      <%- include('../components/slider.ejs') %>

    </div>

</main>
<!-------------->
<!-- Fin Main -->
<!-------------->
<!-- <script src="../../public/js/item.js"></script> -->
<script>
const agregar = document.getElementById('agregar');
const quitar = document.getElementById('quitar');
const quantity = document.getElementById('quantity');
//console.log(agregar, quitar,quantity);

agregar.addEventListener('click', ()=> {
    if (quantity.value < <%= item.stock %>) { //el máximo que se puede agregar desde esta vista es la cantidad disponible en stock en la base de datos
        quantity.value = Number(quantity.value) + 1;
        //console.log(quantity);
    }
});

quitar.addEventListener('click', ()=> {
    if(quantity.value > 1 ){ //porque no se puede pedir una cantidad negativa
        quantity.value = Number(quantity.value) -1;
    }
})
</script>

<%- include('../partials/footer') %>