<%- include('../partials/headerAdmin') %>


<!----------------->
<!-- Inicio Main -->
<!----------------->

<main class="main-container">
    <section class="container">

        <form class="createForm" action="/admin/create" method="POST" enctype="multipart/form-data">
            <h3 class="createForm__title">CREAR NUEVO ITEM</h3>
            <div class="createForm__line">
            <label class="createForm__label" for="category">Categoría:</label>
            
            <select class="createForm__select" name="category" id="category" placeholder="Seleccionar" required>
                <option value="" disabled selected hidden>Seleccionar</option>
                <% categories.forEach((category, i) => { %>
                    <option value="<%= i+1 %>"><%= category.category_name %></option>
                <% }); %>
            </select>
            <label class="createForm__label" for="licence">Licencia:</label>
            
            <select class="createForm__select" name="licence" id="licence" placeholder="Seleccionar" required>
                <option value="" disabled selected hidden>Seleccionar</option>
                <% licences.forEach((licence, i) => { %>
                    <option value="<%= i+1 %>"><%= licence.licence_name %></option>
                <% }); %>
            </select>
            </div>
            <br>
            <div class="createForm__line">
            <label class="createForm__label" for="name">Nombre del producto:</label>
            <input class="createForm_input" type="text" name="name" id="name" placeholder="Ingresar el nombre del producto" required>
            </div>
            <br>
            <div class="createForm__line">
            <textarea name="description" id="description" placeholder="Descripción del producto" required></textarea>
            </div>
            <br>
            <div class="createForm__line">
            <label class="createForm__label" for="SKU">SKU:</label>
            <input class="createForm_input" type="text" name="sku" id="sku" placeholder="SSK111AB001" required>
            <label class="createForm__label" for="price">Precio:</label>
            <input class="createForm_input" type="text" name="price" id="price" placeholder="$ 0.000,00" required>
            <label class="createForm__label" for="stock">Stock:</label>
            <input class="createForm_input" type="text" name="stock" id="stock" placeholder="0" required>
            </div>
            <br>
            <div class="createForm__line">
            <label class="createForm__label" for="discount">Descuento:</label>
            <input class="createForm_input" type="text" name="discount" id="discount" placeholder="0%" required>
            <label class="createForm__label" for="dues">Coutas:</label>
            <select class="createForm__select" name="dues" id="dues" required>
                <option value="1">1 pago</option>
                <option value="3">3 Cuotas sin interés</option>
                <option value="6">6 cuotas</option>
                <option value="12">12 cuotas</option>
            </select>
            </div>
            <br>
            <div class="createForm__line">
            <label class="createForm__label" for="images">Imágenes:</label>
            <input class="createForm__insertFiles" type="file" name="images" id="images" accept="image/*" multiple>
            </div>
            <br>
            <br>
            <div class="createForm__line">
            <div class="createForm__buttons">
            <input type="submit" class="createForm__submitButton" value="Agregar Producto">
            <input type="reset" class="createForm__clearButton" value="Limpiar">
        </div>
        </div>

        </form>











    </section>
</main>

<!-------------->
<!-- Fin Main -->
<!-------------->

<%- include('../partials/footer') %>